<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="logoDak-removebg-preview.png" />
    <link rel="stylesheet" href="estilos.css">
    <title>Rastreo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
</head>
<body>
    <nav class="navbar is-success">
        <div class="navbar-brand">
         
            <img src="logoDak-removebg-preview.png"  width="116" height="30">
         
        </div>
      
        <div  class="navbar-menu ">
          <div class="navbar-start">
            <a class="navbar-item" href="">
              Rastrear Paquete
            </a>
        </div>
    </div>
    </nav>
<div id="mensaje"><div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker-item">Bienvenidos | Reastre su paquete mediante su numero de Traking</div> </div>


</div>
    <div class="column is-half is-offset-one-quarter">
      
        <form class="box">
          <p class="card-header-title is-centered is-size-4 has-background-success  has-text-white">Rastear Paquete</p>
          <br>
          <br>
          <div class="field">
            <label class="label">Nro Traking</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nro Traking">
            </div>
          </div>

          <br>
          <button class="button is-info is-outlined">Buscar</button>
        </form>
      </div>
    </div>


   
      
</body>
</html>