
    <nav class="navbar is-success">
        <div class="navbar-brand">
         
            <img src="../static/imagenes/logoDaK.png"  width="120" height="32">
         
        </div>
      
        <div  class="navbar-menu ">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                Clientes
              </a>
              <div class="navbar-dropdown is-boxed-success ">
                <a class="navbar-item " href="{% url 'RegistroCliente' %}">
                  Agregar Cliente
                </a>
                <a class="navbar-item" href="">
                  Modificar Cliente
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Listar Clientes
                </a>
             </div>   
        </div>
                
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
              Envios
            </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="{% url 'RegistroEnvio' %}">
                 Realizar Envio
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                 Estado Envios
                </a>
                 <a class="navbar-item" href="{% url 'RegistroTriaking' %}">
                 Localizar Envios
                </a>
               </div>   
           </div>
        </div>
    </div>
  </nav>
