{% extends 'index.html' %}

{% block container %}
<div class="column is-half is-offset-one-quarter">
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><label for="precio">precio:</label>
            <input id="precio" type="text" name="precio" maxlength="100" required></p>
        <p><label for="nro_tarjeta">precio:</label>
            <input id="nro_tarjeta" type="text" name="nro_tarjeta" maxlength="100" required></p>
        <p><label for="cuotas">precio:</label>
            <input id="cuotas" type="text" name="cuotas" maxlength="100" required></p>
        <input type="submit" value="Submit">
    </form>
    
</div>
{% endblock%}

