{% extends 'index.html' %}

{% block container %}
<form method="POST">
{% csrf_token %}
{{form.as_p}}
<input type='submit' value='Registrar' class="button is-info is-outlined">
</form>
<!--
<form method="POST">
  <div class="column is-half is-offset-one-quarter">
<form class="box" action="" method='POST' >
      {% csrf_token %}
      
      <p class="card-header-title is-centered is-size-4 has-background-success  has-text-white">Registro Cliente</p>
      <br>
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" id='nombre' placeholder="Nombre">
        </div>
      </div>
      <div class="field">
        <label class="label">Apellido</label>
        <div class="control">
          <input class="input" type="text" id='apellido' placeholder="Apellido">
        </div>
      </div>
    
  <div class="field">
    <label class="label">Documento</label>
    <div class="control">
      <input class="input" type="text" id='documento' placeholder="Documento">
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" id='email' placeholder="Email">
      </div>
      <div class="field">
        <label class="label">Tel: </label>
          <div class="control">
            <input class="input" type="text" id='tel' placeholder="Documento">
          </div>
        </div>
      </div>
    <br>
    <input type='submit' value='Registrar' class="button is-info is-outlined">
</form>
</div>
-->
{% endblock%}
  