{% extends 'index.html' %}


  {% block container %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBua8IMHpArijBxORZL1nHYlFiFcM0Hk2o"></script>
      <body onload="initMap();">
        <div class="column is-half is-offset-one-quarter">
          <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <div class="field">
              <label class="label">Direccion de destino</label>
              <div class="control">
                <div id="map-canvas" style="height: 400px; width: auto;"></div>
                <input type="hidden" id="distancia" name="status_check" />
              </div>
              <br>
              <input type='submit' value='Registrar' class="button is-info is-outlined">
          </form>
        </div>
      </body>
  {% endblock%}